@import "fonts"
@import "libs"
@import "vars"
@import "material font/materialdesignicons"

*::-webkit-input-placeholder
  color: $black
  opacity: 1

*:-moz-placeholder
  color: $black
  opacity: 1

*::-moz-placeholder
  color: $black
  opacity: 1

*:-ms-input-placeholder
  color: $black
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: $black

body input:required:valid,
body textarea:required:valid
  color: $black

html, body
  height: 100%

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.75
  font-family: $default-font
  overflow-x: hidden


@import "media"
// Всегда в конце
